<div class="p-4">
  <header>
    <h3>Are you Sure That You Want To Discard Your Changes?</h3>
  </header>
  <footer>
    <div class="d-flex justify-content-center align-items-center">
      <button
        mat-flat-button
        matDialogClose
        color="warn"
        class="py-1 px-5 mx-2"
        (click)="confirm()"
      >
        Yes
      </button>
      <button
        mat-flat-button
        matDialogClose
        color="primary"
        class="py-1 px-5 mx-2"
        (click)="close()"
      >
        No
      </button>
    </div>
  </footer>
</div>
